Welcome to your Bookmark manager

<form action="/bookmarks" method="get">
  <div>
    <input type='submit' name='Bookmarks' value='Bookmarks'>
  </div>
</form>

<form action="/new" method="post">
  <div>
    <input type='text' name='enter_url' placeholder='Enter Bookmark URL' required>
    <input type='text' name='enter_title' placeholder='Enter Bookmark Title' required>
    <input type='submit' name='Submit' value='Submit'>
  </div>
</form>