Welcome to your Bookmark manager

<form action="/bookmarks" method="get">
  <div>
    <input type='submit' name='Bookmarks' value='Bookmarks'>
  </div>
</form>

<form action="/new" method="post">
  <div>
    <input type='text' name='add_bookmarks' placeholder='Add a new bookmark' required>
    <input type='submit' name='Submit' value='Submit'>
  </div>
</form>